<h1>Bienvenido a nuestro Chat</h1>
<h2>Hola <i id="username"></i> </h2>
<section>
    Escribe tu mensaje: <input type="text" id="chatBox">
</section>
<sec/section>
    <p id="messageLogs"></p>
</section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/main.js"></script>