<main class="welcomeContainer">
    <h1>Oops!</h1>
    <img src="https://res.cloudinary.com/diqry3ihg/image/upload/v1684685662/FunkoPopStore/41iu52TUUYL._AC__kip1se.jpg" alt="Funko Picture">
    <h5>Lo sentimos, pero no tenemos suficiente stock de este producto</h5>
    <div class="buttonsContainer">
        <button type="button" class="btn btn-success">
            <a class="link" href="/products"> Volver a la tienda </a>
        </button>
    </div>
</main>