<main class="welcomeContainer">
    <h1>Gracias por tu compra</h1>
    <img src="https://res.cloudinary.com/diqry3ihg/image/upload/v1684685662/FunkoPopStore/41iu52TUUYL._AC__kip1se.jpg" alt="Funko Picture">
    <h5>Hemos enviado un correo a tu correo con la confirmación</h5>
    <div class="buttonsContainer">
        <button type="button" class="btn btn-success">
            <a class="link" href="/products"> Volver a la tienda </a>
        </button>
    </div>
</main>