<main class="welcomeContainer">
    <h1>Bienvenido a la Funko Store</h1>
    <img src="https://res.cloudinary.com/diqry3ihg/image/upload/v1684685662/FunkoPopStore/41iu52TUUYL._AC__kip1se.jpg" alt="Funko Picture">
    <h5>Por favor inicia sesión o registrate para seguir adelante y conseguir los mejores Funko Pops</h5>
    <div class="buttonsContainer">
        <button type="button" class="btn btn-light border">
            <a class="link" href="/session/logins"> Iniciar sesión </a>
            
        </button>
        <button type="button" class="btn btn-light border">
            <a class="link" href="/session/register"> Registrate </a>
        </button>
    </div>
</main>