.welcomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.welcomeContainer img {
    width: 320px;
}

.icons {
    width: 40px;
    padding: 5px;
}

.buttonsContainer {
    display: flex;
}

.buttonsContainer button {
    margin: 10px;
}

.link {
    text-decoration: none;
    color: black;
}

.productCard{
    width: 400px;
    padding: 10px;
    margin: 8px;
}

.productImgContainer {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}